<style type="text/css">
    .input-icon input {
        margin-top: 10px;
    }

    .input-icon i {
        margin-top: 9px;
    }
</style>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    function validateCaptchaTF() {
        var response = grecaptcha.getResponse();
        if (response.length === 0) {
            noty({
                layout: 'topCenter',
                text: 'Cannot submit the form without filling the captcha. Please complete the captcha challenge and try again',
                type: 'warning',
                timeout: '5000'
            });
            return false;
        }         
        return true;
    }
</script>

<h2>Reserve Tickets</h2>

<div class="section">
    <p>Fill out the following form to reserve tickets. We will be delivering the tickets for free around Colombo,
        Katubedda and Panadura area. Please contact us for more information.</p>
</div>

<div class="section contacts">
    <form name="reserveTicketsForm" id="reserveTicketsForm" action="reserve_tickets.php" method="post"
          onsubmit="return validateCaptchaTF()">
        <div class="section w80">
            <div class="input-icon mright">
                <i class="icon-user"></i>
                <input type="text" class="name" name="name" placeholder="Name" required="required"/>
            </div>

            <div class="input-icon mleft">
                <i class="icon-phone"></i>
                <input type="text" name="phone" placeholder="Phone Number" maxlength="10" required="required"
                       onkeypress="return isNumberKey(event)"/>
            </div>

            <div class="input-icon mleft">
                <i class="icon-envelope"></i>
                <input type="email" class="mail" name="email" placeholder="Email" required="required"/>
            </div>
        </div>

        <div class="section w80">
            <div class="input-icon mleft">
                <i class="icon-ticket"></i>
                <input type="text" class="name" name="tickets_number" placeholder="Number of Tickets" required="required"/>
            </div>
            <div class="input-icon" style="margin-top: 0.5%">
                <select name="ticket_price" id="ticket_price" title="Ticket Price" form="reserveTicketsForm">
                    <option value="4000" selected>LKR 4000</option>
                    <option value="3000">LKR 3000</option>
                    <option value="2000">LKR 2000</option>
                    <option value="1000">LKR 1000</option>
                </select>
            </div>
        </div>
        <textarea form="reserveTicketsForm" name="message" class="message" placeholder="Address"
                  required="required"></textarea>
        <div class="section w80">
            <div class="g-recaptcha" data-sitekey="6LcazQoUAAAAALcSMUsMASc-jI7D6e7i5ldv7Wej" data-theme="dark"></div>
        </div>
        <div class="section w80">
            <input type="submit" value="Reserve" />
            <div class="fright">
                <a class="social minibutton" href="https://www.facebook.com/MariansUnplugged/" target="_blank">
                    <i class="icon-facebook"></i>
                </a>
            </div>
        </div>
    </form>

    <h4><span class="glcolor">More information</span></h4>

    <div class="section w50">
        <div class="fleft">
            <span class="glcolor">Rajith :</span><span> 0719057118</span><br/>
            <span class="glcolor">Shamika :</span><span> 0712519958</span><br/>
            <span class="glcolor">Email :</span><span><a href="mailto:events.awe@gmail.com"> events.awe@gmail.com</a></span><br/>
        </div>
    </div>
</div>
