<h2>Contact Us</h2>
<div class="section contacts">
    <form name="contactForm" id="contactForm" action="contact.php" method="post">
        <div class="section w80">
            <div class="input-icon mright">
                <i class="icon-user"></i>
                <input type="text" name="name" placeholder="YOUR NAME" class="name" required="required">
            </div>
            <div class="input-icon mleft">
                <i class="icon-envelope"></i>
                <input type="email" name="email" placeholder="YOUR E-MAIL" class="mail">
            </div>
            <div class="input-icon mleft" style="padding-top: 1%">
                <i class="icon-phone"></i>
                <input type="text" name="phone" placeholder="YOUR PHONE" class="name" maxlength="10"
                       required="required"
                       onkeypress="return isNumberKey(event)">
            </div>
        </div>
        <textarea form="contactForm" name="message" class="message" placeholder="YOUR MESSAGE"
                  required="required"></textarea>
        <div class="section w80">
            <input type="submit" value="SEND"/>
            <div class="fright">
                <a class="social minibutton" href="https://www.facebook.com/MariansUnplugged/" target="_blank">
                    <i class="icon-facebook"></i>
                </a>
            </div>
        </div>
    </form>

    <h4><span class="glcolor">More information</span></h4>

    <div class="section w50">
        <div class="fleft">
            <span class="glcolor">Rajith :</span><span> 0719057118</span><br/>
            <span class="glcolor">Shamika :</span><span> 0712519958</span><br/>
            <span class="glcolor">Email :</span><span><a href="mailto:events.awe@gmail.com">
            events.awe@gmail.com</a></span><br/>
        </div>
    </div>
</div>