<div class="image-wrapper">
    <img class="display-image" src="img/bg/bg_image_3.png">
</div>

<div class="section text-center">
    <p>On the <strong>11th of December 2016</strong>, prepare to witness the music of three legends
        who revolutionized the Sri Lankan
        music industry, unfold at the <strong>Musaeus college auditorium</strong>. The likes of <strong>C.T.
            Fernando, Clarence Wijewardana
            and H.R Jothipala</strong> will be performed by one of the most entertaining bands in the country who
        introduced a
        new musical phenomena, the concept of "unplugged". <strong>'Legends unplugged by Marians'</strong> presented
        by <strong>Awe!</strong>
        is an event that should not be missed.</p>
</div>

<div class="section">
    <h3 class="text-center"><span class="glcolor">Tickets</span></h3>
    <p class="text-center">Tickets are priced at <strong>LKR 1000 | 2000 | 3000 | 4000</strong> and you can reserve your tickets
        through this website. Please click the <strong>Tickets</strong> tab.</p>
    <p>Also tickets will be available to buy at,</p>
    <p class="text-center"><strong>Sarasavi Bookshop, Nugegoda | Sarasavi Bookshop, Maharagama | Sadeepa Bookshop Borella | Salaka
        Senkada
        Printers Colombo | Tickets.lk</strong></p>
</div>